<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/nhp-logo.png" />
		<meta name="blog" content={Astro.generator} />
		<title>New Horizon Project</title>
	</head>
	<body>
		<slot />
	</body>
</html>
